<div class="card mx-auto my-5 text-center" style="width: 350px;">
    <div class="card-header h5 text-white bg-primary">Reestablecer contrasena</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Introduzca su direccion de correo electronico y le enviaremos un mensaje con instrucciones para restablecer su contrasena.
        </p>
        <div class="form-outline">
            <input type="email" id="typeEmail" class="form-control my-3" />
            <label class="form-label" for="typeEmail">Entrada de correo electronico</label>
        </div>
        <a href="#" class="btn btn-primary w-100">Restablecer contrasena</a>
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="#">Iniciar sesion</a>
        </div>
    </div>
</div>
