<div class="card" style="margin-top: 50px">
    <div class="card-header ps-5 pt-4 pb-3">
        <h3 class="mb-3"><i class="fa-solid fa-file-circle-plus me-2"></i>Atender citas</h3>
    </div>
    <div class="card-body p-5" style="margin-bottom: 300px;">
       
       
        
         
        
     
        <div class="mb-4 row">
            <label class="col-sm-2 col-form-label">Diagnostico: </label>
            <div class="col-sm-10">
                <input type="text" name="diagnostico" class="form-control" />
            </div>
        </div>
        <div class="mb-4 row">
            <label class="col-sm-2 col-form-label">Notas Medicas: </label>
            <div class="col-sm-10">
                <input type="text" name="notas medicas" class="form-control" />
            </div>
        </div>
        <div class="mb-4 row">
            <label class="col-sm-2 col-form-label">Tratamiento: </label>
            <div class="col-sm-10">
                <input type="text" name="tratamiento" class="form-control" />
            </div>
            <div class="mb-4 row">
                <label class="col-sm-2 col-form-label">Codigo Cita: </label>
                <div class="col-sm-10">
                    <input type="text" name="codigo cita" class="form-control" />
                </div>
        </div>
        <div style="display: flex; justify-content: end">
            <button class="btn btn-success button-effect" type="submit">
                <i class="fa-solid fa-circle-plus me-1"></i>Guardar
            </button>
        </div>
    </div>