<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/src/styles.css" />
    <link rel="stylesheet" href="./notificacion-pqrs.component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="pqrs-error">
      <div class="navbar">
        <b class="pqr">PQR</b>
        <div class="corporativa" id="corporativaText">Corporativa</div>
        <div class="inicio" id="inicioText">Inicio</div>
        <div class="especialistas">Especialistas</div>
        <div class="servicios" id="serviciosText">Servicios</div>
        <div class="botn">
          <b class="entrar">Entrar</b>
          <img class="vector-icon" alt="" src="./public/vector.svg" />
        </div>
      </div>
      <img
        class="clinica-removebg-preview-1-icon"
        alt=""
        src="./public/clinicaremovebgpreview-1@2x.png"
      />

      <img class="pqrs-error-child" alt="" src="./public/line-1.svg" />

      <img class="pqrs-error-item" alt="" src="./public/line-2.svg" />

      <img class="vector-icon1" alt="" src="./public/vector1.svg" />

      <img class="vector-icon2" alt="" src="./public/vector2.svg" />

      <img class="vector-icon3" alt="" src="./public/vector3.svg" />

      <div class="pqrs-error-inner"></div>
      <div class="rectangle-div"></div>
      <div class="solicitudes-pqrs-wrapper">
        <b class="solicitudes-pqrs">Solicitudes: PQRS</b>
      </div>
      <div class="ingresa-tus-preguntas-quejas-wrapper">
        <b class="solicitudes-pqrs"
          >¡Ingresa tus preguntas, quejas o reclamos!</b
        >
      </div>
      <div class="detalle-de-la-consulta-wrapper">
        <b class="solicitudes-pqrs">Detalle de la consulta</b>
      </div>
      <b class="cdigo-pqrs">Código PQRS</b>
      <div class="wrapper">
        <div class="div">#####</div>
      </div>
      <div class="preguntaquejareclamo-wrapper">
        <div class="preguntaquejareclamo">&lt;PREGUNTA/QUEJA/RECLAMO&gt;</div>
      </div>
      <div class="listado-de-citas-que-ha-tenido-wrapper">
        <div class="listado-de-citas">
          &lt;listado de citas que ha tenido el paciente&gt;
        </div>
      </div>
      <div class="descripcin-de-la-quejapregun-wrapper">
        <div class="listado-de-citas">
          Descripción de la queja/pregunta/reclamo/solicitud del paciente
        </div>
      </div>
      <div class="ddmmaa-wrapper">
        <div class="ddmmaa">dd/mm/aa</div>
      </div>
      <b class="cita">Cita </b>
      <b class="informacin-de-la">Información de la solicitud</b>
      <b class="asunto">Asunto</b>
      <b class="motivo">Motivo</b>
      <div class="fecha-de-creacion-wrapper">
        <b class="solicitudes-pqrs">Fecha de creacion</b>
      </div>
      <img class="line-icon" alt="" src="./public/line-3.svg" />

      <img class="pqrs-error-child1" alt="" src="./public/line-4.svg" />

      <img class="pqrs-error-child2" alt="" src="./public/line-5.svg" />

      <div class="botn1">
        <b class="entrar">Enviar</b>
      </div>
      <div class="pqrs-error-child3" id="rectangle2"></div>
      <div class="group-parent">
        <div class="rectangle-wrapper">
          <div class="group-child"></div>
        </div>
        <div class="group-item"></div>
        <textarea class="alerta">Alerta </textarea>
        <img class="vector-icon4" alt="" src="./public/vector4.svg" />

        <textarea class="no-se-pueden">
No se pueden crear mas de tres PQRS</textarea
        >
      </div>
    </div>

    <script>
      var corporativaText = document.getElementById("corporativaText");
      if (corporativaText) {
        corporativaText.addEventListener("click", function (e) {
          // Please sync "Corporativa" to the project
        });
      }
      
      var inicioText = document.getElementById("inicioText");
      if (inicioText) {
        inicioText.addEventListener("click", function (e) {
          // Please sync "Inicio" to the project
        });
      }
      
      var serviciosText = document.getElementById("serviciosText");
      if (serviciosText) {
        serviciosText.addEventListener("click", function (e) {
          // Please sync "Servicios" to the project
        });
      }
      
      var rectangle2 = document.getElementById("rectangle2");
      if (rectangle2) {
        rectangle2.addEventListener("click", function (e) {
          // Please sync "Info cita " to the project
        });
      }
      </script>
  </body>
</html>
