<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/src/styles.css" />
    <link rel="stylesheet" href="./info-cita.component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    />
  </head>
  <body>
    
      <div class="component-10-child"></div>
      <label class="procedimiento-cardiologia"> Procedimiento: cardiologia </label>
      <label class="fecha-31082023">Fecha: 31/08/2023</label>
      <label class="hora-020000">Hora: 02:00:00</label>
      <label class="sede-armenia">Sede: Armenia  </label>
      <div class="component-10-item"></div>
      <textarea class="component-10-inner"> </textarea>
      <label class="notas-del-mdico">Notas del médico</label>
      <textarea class="frame-textarea"> </textarea>
      <label class="diagnstico">Diagnóstico</label>
      <textarea class="component-10-child1"> </textarea>
      <label class="tratamiento">Tratamiento</label>
      <div class="informacin-cita-wrapper">
        <label class="informacin-cita">Información Cita</label>
      </div>
      <div class="informacion-de-la-cita-wrapper">
        <label class="informacion-de-la">Informacion de la cita: </label>
      </div>
    
  </body>
  
</html>