<!----INFO CITA 1 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/src/styles.css" />
    <link rel="stylesheet" href="./info-cita.component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="info-cita-perfil">
      <div class="navbar">
        <div class="pqr">PQR</div>
        <div class="corporativa" id="corporativaText">Corporativa</div>
        <div class="inicio" id="inicioText">Inicio</div>
        <div class="especialistas">Especialistas</div>
        <div class="servicios">Servicios</div>
        <div class="botn">
          <b class="entrar">Entrar</b>
          <img class="vector-icon" alt="" src="./public/vector.svg" />
        </div>
      </div>
      <img
        class="clinica-removebg-preview-1-icon"
        alt=""
        src="./public/clinicaremovebgpreview-1@2x.png"
      />

      <img class="info-cita-perfil-child" alt="" src="./public/line-1.svg" />

      <img class="info-cita-perfil-item" alt="" src="./public/line-2.svg" />

      <img class="vector-icon1" alt="" src="./public/vector1.svg" />

      <img class="vector-icon2" alt="" src="./public/vector2.svg" />

      <img class="vector-icon3" alt="" src="./public/vector3.svg" />

      <div class="info-cita-perfil-inner"></div>
      <textarea class="nombre-luisa-maria">
Nombre: Luisa Maria Fernandez Ochoa </textarea
      >
      <textarea class="especialista-diego-robledo">
Especialista: Diego Robledo</textarea
      >
      <textarea class="procedimiento-cardiologia">
Procedimiento: cardiologia </textarea
      >
      <textarea class="fecha-31082023">Fecha: 31/08/2023</textarea>
      <textarea class="hora-020000">Hora: 02:00:00</textarea>
      <textarea class="sede-armenia">Sede: Armenia  </textarea>
      <textarea class="d-identidad-1005678954">
D. identidad: 1005678954</textarea
      >
      <div class="rectangle-div"></div>
      <div class="informacin-cita-wrapper">
        <textarea class="informacin-cita">Información Cita</textarea>
      </div>
      <div class="informacion-paciente-wrapper">
        <textarea class="informacion-paciente">Informacion paciente: </textarea>
      </div>
      <div class="informacion-de-la-cita-wrapper">
        <textarea class="informacion-de-la">Informacion de la cita: </textarea>
      </div>
      <img class="line-icon" alt="" src="./public/line-4.svg" />

      <img class="vector-icon4" alt="" src="./public/vector4.svg" />
    </div>

    <script>
      var corporativaText = document.getElementById("corporativaText");
      if (corporativaText) {
        corporativaText.addEventListener("click", function (e) {
          // Please sync "Corporativa" to the project
        });
      }
      
      var inicioText = document.getElementById("inicioText");
      if (inicioText) {
        inicioText.addEventListener("click", function (e) {
          // Please sync "Inicio" to the project
        });
      }
      </script>
  </body>
</html>
<!------------------------- INFO CITA 2------------------------->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/src/styles.css" />
    <link rel="stylesheet" href="./info-cita.component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="info-cita-final">
      <div class="navbar">
        <div class="pqr" id="pQRText">PQR</div>
        <div class="corporativa" id="corporativaText">Corporativa</div>
        <div class="inicio" id="inicioText">Inicio</div>
        <div class="especialistas">Especialistas</div>
        <div class="servicios">Servicios</div>
        <div class="botn">
          <b class="entrar">Entrar</b>
          <img class="vector-icon" alt="" src="./public/vector.svg" />
        </div>
      </div>
      <img
        class="clinica-removebg-preview-1-icon"
        alt=""
        src="./public/clinicaremovebgpreview-1@2x.png"
      />

      <img class="info-cita-final-child" alt="" src="./public/line-1.svg" />

      <img class="info-cita-final-item" alt="" src="./public/line-2.svg" />

      <img class="vector-icon1" alt="" src="./public/vector1.svg" />

      <img class="vector-icon2" alt="" src="./public/vector2.svg" />

      <img class="vector-icon3" alt="" src="./public/vector3.svg" />

      <div class="info-cita-final-inner"></div>
      <textarea class="nombre-luisa-maria">
Nombre: Luisa Maria Fernandez Ochoa </textarea
      >
      <textarea class="especialista-diego-robledo">
Especialista: Diego Robledo</textarea
      >
      <textarea class="procedimiento-cardiologia">
Procedimiento: cardiologia </textarea
      >
      <textarea class="fecha-31082023">Fecha: 31/08/2023</textarea>
      <textarea class="hora-020000">Hora: 02:00:00</textarea>
      <textarea class="sede-armenia">Sede: Armenia  </textarea>
      <div class="d-identidad-1005678954">D. identidad: 1005678954</div>
      <div class="rectangle-div"></div>
      <iframe class="frame-iframe"> </iframe>
      <textarea class="notas-del-mdico">Notas del médico</textarea>
      <iframe class="info-cita-final-child1"> </iframe>
      <textarea class="diagnstico">Diagnóstico</textarea>
      <iframe class="info-cita-final-child2"> </iframe>
      <textarea class="tratamiento">Tratamiento</textarea>
      <div class="informacin-cita-wrapper">
        <textarea class="informacin-cita">Información Cita</textarea>
      </div>
      <div class="informacion-paciente-wrapper">
        <textarea class="informacion-paciente">Informacion paciente: </textarea>
      </div>
      <div class="informacion-de-la-cita-wrapper">
        <textarea class="informacion-de-la">Informacion de la cita: </textarea>
      </div>
      <img class="line-icon" alt="" src="./public/line-4.svg" />

      <img class="vector-icon4" alt="" src="./public/vector4.svg" />
    </div>

    <script>
      var pQRText = document.getElementById("pQRText");
      if (pQRText) {
        pQRText.addEventListener("click", function (e) {
          // Please sync "PQRS" to the project
        });
      }
      
      var corporativaText = document.getElementById("corporativaText");
      if (corporativaText) {
        corporativaText.addEventListener("click", function (e) {
          // Please sync "Corporativa" to the project
        });
      }
      
      var inicioText = document.getElementById("inicioText");
      if (inicioText) {
        inicioText.addEventListener("click", function (e) {
          // Please sync "Inicio" to the project
        });
      }
      </script>
  </body>
</html>
